
.vs/NpToningSystem/FileContentIndex/3ab3b4bb-d479-46b8-bd96-c23d2a2a74fd.vsidx
.vs/NpToningSystem/FileContentIndex/read.lock
.vs/NpToningSystem/v17/.suo
DatabaseManager/bin/Debug/DatabaseManager.exe
DatabaseManager/bin/Debug/DatabaseManager.exe.config
DatabaseManager/bin/Debug/DatabaseManager.pdb
DatabaseManager/bin/Debug/NpCommon.dll
DatabaseManager/bin/Debug/NpCommon.ini
DatabaseManager/bin/Debug/NpCommon.pdb
DatabaseManager/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
DatabaseManager/obj/Debug/_IsIncrementalBuild
DatabaseManager/obj/Debug/DatabaseManager.csproj.AssemblyReference.cache
DatabaseManager/obj/Debug/DatabaseManager.csproj.CopyComplete
DatabaseManager/obj/Debug/DatabaseManager.csproj.CoreCompileInputs.cache
DatabaseManager/obj/Debug/DatabaseManager.csproj.FileListAbsolute.txt
DatabaseManager/obj/Debug/DatabaseManager.csproj.GenerateResource.cache
DatabaseManager/obj/Debug/DatabaseManager.csproj.SuggestedBindingRedirects.cache
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmDBMaintenance.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmDeliverySetting.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmDisplayColors.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmMixingColorsOperators.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmSetting.resources
DatabaseManager/obj/Debug/DatabaseManager.exe
DatabaseManager/obj/Debug/DatabaseManager.FrmMain.resources
DatabaseManager/obj/Debug/DatabaseManager.pdb
DatabaseManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DatabaseManager/obj/Debug/NipponPaint.DatabaseManager.Properties.Resources.resources
NpCommon/bin/Debug/NpCommon.dll
NpCommon/bin/Debug/NpCommon.ini
NpCommon/bin/Debug/NpCommon.pdb
NpCommon/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NpCommon/obj/Debug/_IsIncrementalBuild
NpCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.CheckTextButton.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.DeliveryClassification.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.DialogEditButtons.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelCheckBoxSingle.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelCodeText.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelColorDiaLog.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelDateTimePicker.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelDropDown.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelNumericUpDown.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelNumericUpDownMulti.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelRadioButtons.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextBox.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextBoxDb.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextButton.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LampText.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.PanelBorder.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TabCtrlPagePlants.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TabCtrlPagePlantsSetting.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TabPageEx.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TextBoxEx.resources
NpCommon/obj/Debug/NpCommon.csproj.AssemblyReference.cache
NpCommon/obj/Debug/NpCommon.csproj.CoreCompileInputs.cache
NpCommon/obj/Debug/NpCommon.csproj.FileListAbsolute.txt
NpCommon/obj/Debug/NpCommon.csproj.GenerateResource.cache
NpCommon/obj/Debug/NpCommon.dll
NpCommon/obj/Debug/NpCommon.pdb
OrderManager/bin/Debug/NpCommon.dll
OrderManager/bin/Debug/NpCommon.ini
OrderManager/bin/Debug/NpCommon.pdb
OrderManager/bin/Debug/OrderManager.exe
OrderManager/bin/Debug/OrderManager.exe.config
OrderManager/bin/Debug/OrderManager.pdb
OrderManager/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
OrderManager/obj/Debug/_IsIncrementalBuild
OrderManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCanType.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCapType.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCCMSimulator.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCOMPort.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCOMSimulator.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmFontSelect.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmInitialSetting.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmKeyPad.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLabelEdit.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLabelPrint.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLabelSelection.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLotRegister.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmNPProductCodeMaster.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderClose.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderCloseSelectItems.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderStart.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmProductCodeMaster.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSelectDataNumber.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSelectLabel.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSelectOrderCloseItems.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSetting.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSetUp.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmShipping.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.FrmMain.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Properties.Resources.resources
OrderManager/obj/Debug/OrderManager.csproj.AssemblyReference.cache
OrderManager/obj/Debug/OrderManager.csproj.CopyComplete
OrderManager/obj/Debug/OrderManager.csproj.CoreCompileInputs.cache
OrderManager/obj/Debug/OrderManager.csproj.FileListAbsolute.txt
OrderManager/obj/Debug/OrderManager.csproj.GenerateResource.cache
OrderManager/obj/Debug/OrderManager.csproj.SuggestedBindingRedirects.cache
OrderManager/obj/Debug/OrderManager.exe
OrderManager/obj/Debug/OrderManager.pdb
SupervisorIfSim/bin/Debug/NpCommon.dll
SupervisorIfSim/bin/Debug/NpCommon.ini
SupervisorIfSim/bin/Debug/NpCommon.pdb
SupervisorIfSim/bin/Debug/SupervisorIfSim.exe
SupervisorIfSim/bin/Debug/SupervisorIfSim.exe.config
SupervisorIfSim/bin/Debug/SupervisorIfSim.pdb
SupervisorIfSim/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SupervisorIfSim/obj/Debug/_IsIncrementalBuild
SupervisorIfSim/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.AssemblyReference.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.CopyComplete
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.CoreCompileInputs.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.FileListAbsolute.txt
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.GenerateResource.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.SuggestedBindingRedirects.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.Dialogs.FrmEdit.resources
SupervisorIfSim/obj/Debug/SupervisorIfSim.exe
SupervisorIfSim/obj/Debug/SupervisorIfSim.FrmMain.resources
SupervisorIfSim/obj/Debug/SupervisorIfSim.pdb
SupervisorIfSim/obj/Debug/SupervisorIfSim.Properties.Resources.resources
.vs/NpToningSystem/DesignTimeBuild/.dtbcache.v2
.vs/NpToningSystem/FileContentIndex/29bf5944-d738-4486-adbd-0b74f1fb6ac4.vsidx
.vs/NpToningSystem/FileContentIndex/609a3485-638c-4452-bdc9-730748870c41.vsidx
.vs/NpToningSystem/FileContentIndex/793a2ff4-deea-4769-8a27-9d5b0b9f9ed6.vsidx
.vs/NpToningSystem/v17/.futdcache.v1
.vs/NpToningSystem/v17/Browse.VC.db
.vs/NpToningSystem/v17/fileList.bin
.vs/NpToningSystem/v17/Solution.VC.db
.vs/ProjectEvaluation/nptoningsystem.metadata.v2
.vs/ProjectEvaluation/nptoningsystem.projects.v2
ftpDLL/ftpApp/ftpApp/bin/Debug/net6.0/ftpApp.deps.json
ftpDLL/ftpApp/ftpApp/bin/Debug/net6.0/ftpApp.dll
ftpDLL/ftpApp/ftpApp/bin/Debug/net6.0/ftpApp.exe
ftpDLL/ftpApp/ftpApp/bin/Debug/net6.0/ftpApp.pdb
ftpDLL/ftpApp/ftpApp/bin/Debug/net6.0/ftpApp.runtimeconfig.json
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/_IsIncrementalBuild
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/apphost.exe
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.AssemblyInfo.cs
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.AssemblyInfoInputs.cache
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.assets.cache
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.csproj.AssemblyReference.cache
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.csproj.CoreCompileInputs.cache
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.csproj.FileListAbsolute.txt
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.dll
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.GeneratedMSBuildEditorConfig.editorconfig
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.genruntimeconfig.cache
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.GlobalUsings.g.cs
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ftpApp.pdb
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/ref/ftpApp.dll
ftpDLL/ftpApp/ftpApp/obj/Debug/net6.0/refint/ftpApp.dll
ftpDLL/ftpApp/ftpApp/obj/ftpApp.csproj.nuget.dgspec.json
ftpDLL/ftpApp/ftpApp/obj/ftpApp.csproj.nuget.g.props
ftpDLL/ftpApp/ftpApp/obj/ftpApp.csproj.nuget.g.targets
ftpDLL/ftpApp/ftpApp/obj/project.assets.json
ftpDLL/ftpApp/ftpApp/obj/project.nuget.cache
ftpDLL/ftpDLL/ftpDLL/x64/Debug/_IsIncrementalBuild
ftpDLL/ftpDLL/ftpDLL/x64/Debug/csInterface.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/dllmain.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ecode.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/filename.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpcmd.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.Build.CppClean.log
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.dll.recipe
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.ilk
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.log
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.pch
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/CL.command.1.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/CL.read.1.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/CL.write.1.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/ftpDLL.lastbuildstate
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/ftpDLL.write.1u.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/link.command.1.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/link.read.1.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.tlog/link.write.1.tlog
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpDLL.vcxproj.FileListAbsolute.txt
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftplog.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpseq.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpsocket.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpsocket_ctrl.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/ftpsocket_tran.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/logmsg.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/order.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/params.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/pch.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/reply.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqcdup.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqcwd.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqlist.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqlogin.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqlogout.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqnlst.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqpasv.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqport.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqpwd.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqrestart.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqretr.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqstor.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqstor2.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqsyst.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqtype.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/seqwaiting.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/thr_function.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/thr_launcher.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/thr_semaphore.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_file.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_findfile.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_fullpath.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_localtime.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_mktime.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_orderstr.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/util_strtok.obj
ftpDLL/ftpDLL/ftpDLL/x64/Debug/vc143.idb
ftpDLL/ftpDLL/ftpDLL/x64/Debug/vc143.pdb
ftpDLL/ftpDLL/ftpDLL/x64/Debug/winec.obj
ftpDLL/ftpSim/ftpSim/bin/Debug/net6.0/ftpSim.deps.json
ftpDLL/ftpSim/ftpSim/bin/Debug/net6.0/ftpSim.dll
ftpDLL/ftpSim/ftpSim/bin/Debug/net6.0/ftpSim.exe
ftpDLL/ftpSim/ftpSim/bin/Debug/net6.0/ftpSim.pdb
ftpDLL/ftpSim/ftpSim/bin/Debug/net6.0/ftpSim.runtimeconfig.json
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/_IsIncrementalBuild
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/apphost.exe
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.AssemblyInfo.cs
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.AssemblyInfoInputs.cache
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.assets.cache
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.csproj.AssemblyReference.cache
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.csproj.CoreCompileInputs.cache
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.csproj.FileListAbsolute.txt
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.dll
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.GeneratedMSBuildEditorConfig.editorconfig
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.genruntimeconfig.cache
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.GlobalUsings.g.cs
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ftpSim.pdb
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/ref/ftpSim.dll
ftpDLL/ftpSim/ftpSim/obj/Debug/net6.0/refint/ftpSim.dll
ftpDLL/ftpSim/ftpSim/obj/ftpSim.csproj.nuget.dgspec.json
ftpDLL/ftpSim/ftpSim/obj/ftpSim.csproj.nuget.g.props
ftpDLL/ftpSim/ftpSim/obj/ftpSim.csproj.nuget.g.targets
ftpDLL/ftpSim/ftpSim/obj/project.assets.json
ftpDLL/ftpSim/ftpSim/obj/project.nuget.cache
MlController/bin/Debug/MLComponent.dll
MlController/bin/Debug/MLComponent.XmlSerializers.dll
MlController/bin/Debug/MlController.dll
MlController/bin/Debug/MlController.pdb
MlController/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MlController/obj/Debug/_IsIncrementalBuild
MlController/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MlController/obj/Debug/MlController.csproj.AssemblyReference.cache
MlController/obj/Debug/MlController.csproj.CopyComplete
MlController/obj/Debug/MlController.csproj.CoreCompileInputs.cache
MlController/obj/Debug/MlController.csproj.FileListAbsolute.txt
MlController/obj/Debug/MlController.dll
MlController/obj/Debug/MlController.pdb
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelStatusRadioButtons.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextSeparate.resources
OrderManager/bin/Debug/MLComponent.dll
OrderManager/bin/Debug/MLComponent.XmlSerializers.dll
OrderManager/bin/Debug/MlController.dll
OrderManager/bin/Debug/MlController.pdb
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderChangeStatusSelectItem.resources
serialDLL/serialApp/serialApp/bin/Debug/net6.0/serialApp.deps.json
serialDLL/serialApp/serialApp/bin/Debug/net6.0/serialApp.dll
serialDLL/serialApp/serialApp/bin/Debug/net6.0/serialApp.exe
serialDLL/serialApp/serialApp/bin/Debug/net6.0/serialApp.pdb
serialDLL/serialApp/serialApp/bin/Debug/net6.0/serialApp.runtimeconfig.json
serialDLL/serialApp/serialApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
serialDLL/serialApp/serialApp/obj/Debug/net6.0/_IsIncrementalBuild
serialDLL/serialApp/serialApp/obj/Debug/net6.0/apphost.exe
serialDLL/serialApp/serialApp/obj/Debug/net6.0/ref/serialApp.dll
serialDLL/serialApp/serialApp/obj/Debug/net6.0/refint/serialApp.dll
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.AssemblyInfo.cs
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.AssemblyInfoInputs.cache
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.assets.cache
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.csproj.AssemblyReference.cache
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.csproj.CoreCompileInputs.cache
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.csproj.FileListAbsolute.txt
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.dll
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.GeneratedMSBuildEditorConfig.editorconfig
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.genruntimeconfig.cache
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.GlobalUsings.g.cs
serialDLL/serialApp/serialApp/obj/Debug/net6.0/serialApp.pdb
serialDLL/serialApp/serialApp/obj/project.assets.json
serialDLL/serialApp/serialApp/obj/project.nuget.cache
serialDLL/serialApp/serialApp/obj/serialApp.csproj.nuget.dgspec.json
serialDLL/serialApp/serialApp/obj/serialApp.csproj.nuget.g.props
serialDLL/serialApp/serialApp/obj/serialApp.csproj.nuget.g.targets
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/_IsIncrementalBuild
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/ccm.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/ccmmsg.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/comport.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/dbglog.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/dllmain.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/ecode.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/params.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/pch.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.Build.CppClean.log
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.dll.recipe
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.ilk
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.log
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.pch
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/CL.command.1.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/CL.read.1.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/CL.write.1.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/link.command.1.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/link.read.1.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/link.write.1.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/serialDLL.lastbuildstate
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.tlog/serialDLL.write.1u.tlog
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialDLL.vcxproj.FileListAbsolute.txt
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/serialParams.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/thr_semaphore.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/util_ccmstr.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/util_file.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/util_strtok.obj
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/vc143.idb
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/vc143.pdb
serialDLL/serialDLL/serialDLL/serialDLL/x64/Debug/winec.obj
SupervisorIfSim/obj/Debug/NipponPaint.SupervisorIfSim.Properties.Resources.resources
SupervisorPcInterface/bin/Debug/NpCommon.dll
SupervisorPcInterface/bin/Debug/NpCommon.ini
SupervisorPcInterface/bin/Debug/NpCommon.pdb
SupervisorPcInterface/bin/Debug/SupervisorPcInterface.exe
SupervisorPcInterface/bin/Debug/SupervisorPcInterface.exe.config
SupervisorPcInterface/bin/Debug/SupervisorPcInterface.pdb
SupervisorPcInterface/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SupervisorPcInterface/obj/Debug/_IsIncrementalBuild
SupervisorPcInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SupervisorPcInterface/obj/Debug/NipponPaint.SupervisorPcInterface.Properties.Resources.resources
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.AssemblyReference.cache
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.CopyComplete
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.CoreCompileInputs.cache
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.FileListAbsolute.txt
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.GenerateResource.cache
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.exe
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.FrmMain.resources
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.pdb
x64/Debug/ftpDLL.dll
x64/Debug/ftpDLL.exp
x64/Debug/ftpDLL.lib
x64/Debug/ftpDLL.pdb
x64/Debug/serialDLL.dll
x64/Debug/serialDLL.exp
x64/Debug/serialDLL.lib
x64/Debug/serialDLL.pdb
