
.vs/NpToningSystem/v17/.suo
DatabaseManager/bin/Debug/DatabaseManager.exe
DatabaseManager/bin/Debug/DatabaseManager.exe.config
DatabaseManager/bin/Debug/DatabaseManager.pdb
DatabaseManager/bin/Debug/NpCommon.dll
DatabaseManager/bin/Debug/NpCommon.ini
DatabaseManager/bin/Debug/NpCommon.pdb
DatabaseManager/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
DatabaseManager/obj/Debug/DatabaseManager.csproj.AssemblyReference.cache
DatabaseManager/obj/Debug/DatabaseManager.csproj.CopyComplete
DatabaseManager/obj/Debug/DatabaseManager.csproj.CoreCompileInputs.cache
DatabaseManager/obj/Debug/DatabaseManager.csproj.FileListAbsolute.txt
DatabaseManager/obj/Debug/DatabaseManager.csproj.GenerateResource.cache
DatabaseManager/obj/Debug/DatabaseManager.csproj.SuggestedBindingRedirects.cache
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmDBMaintenance.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmDeliverySetting.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmDisplayColors.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmMixingColorsOperators.resources
DatabaseManager/obj/Debug/DatabaseManager.Dialogs.FrmSetting.resources
DatabaseManager/obj/Debug/DatabaseManager.exe
DatabaseManager/obj/Debug/DatabaseManager.FrmMain.resources
DatabaseManager/obj/Debug/DatabaseManager.pdb
DatabaseManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DatabaseManager/obj/Debug/NipponPaint.DatabaseManager.Properties.Resources.resources
NpCommon/bin/Debug/NpCommon.dll
NpCommon/bin/Debug/NpCommon.ini
NpCommon/bin/Debug/NpCommon.pdb
NpCommon/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NpCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.CheckTextButton.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.DeliveryClassification.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.DialogEditButtons.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelCheckBoxSingle.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelCodeText.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelColorDiaLog.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelDateTimePicker.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelDropDown.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelNumericUpDown.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelNumericUpDownMulti.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelRadioButtons.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextBox.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextBoxDb.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LabelTextButton.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.LampText.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.PanelBorder.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TabCtrlPagePlants.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TabCtrlPagePlantsSetting.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TabPageEx.resources
NpCommon/obj/Debug/NipponPaint.NpCommon.FormControls.TextBoxEx.resources
NpCommon/obj/Debug/NpCommon.csproj.AssemblyReference.cache
NpCommon/obj/Debug/NpCommon.csproj.CoreCompileInputs.cache
NpCommon/obj/Debug/NpCommon.csproj.FileListAbsolute.txt
NpCommon/obj/Debug/NpCommon.csproj.GenerateResource.cache
NpCommon/obj/Debug/NpCommon.dll
NpCommon/obj/Debug/NpCommon.pdb
OrderManager/bin/Debug/Log/OrderManager20220512.log
OrderManager/bin/Debug/NpCommon.dll
OrderManager/bin/Debug/NpCommon.ini
OrderManager/bin/Debug/NpCommon.pdb
OrderManager/bin/Debug/OrderManager.exe
OrderManager/bin/Debug/OrderManager.exe.config
OrderManager/bin/Debug/OrderManager.pdb
OrderManager/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
OrderManager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
OrderManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCanType.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCapType.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCCMSimulator.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCOMPort.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmCOMSimulator.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmFontSelect.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmInitialSetting.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmKeyPad.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLabelEdit.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLabelPrint.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLabelSelection.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmLotRegister.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmNPProductCodeMaster.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderClose.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderCloseSelectItems.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderStart.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmProductCodeMaster.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSelectDataNumber.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSelectLabel.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSelectOrderCloseItems.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSetting.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmSetUp.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmShipping.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.FrmMain.resources
OrderManager/obj/Debug/NipponPaint.OrderManager.Properties.Resources.resources
OrderManager/obj/Debug/OrderManager.csproj.AssemblyReference.cache
OrderManager/obj/Debug/OrderManager.csproj.CopyComplete
OrderManager/obj/Debug/OrderManager.csproj.CoreCompileInputs.cache
OrderManager/obj/Debug/OrderManager.csproj.FileListAbsolute.txt
OrderManager/obj/Debug/OrderManager.csproj.GenerateResource.cache
OrderManager/obj/Debug/OrderManager.csproj.SuggestedBindingRedirects.cache
OrderManager/obj/Debug/OrderManager.exe
OrderManager/obj/Debug/OrderManager.pdb
OrderManager/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SupervisorIfSim/bin/Debug/NpCommon.dll
SupervisorIfSim/bin/Debug/NpCommon.ini
SupervisorIfSim/bin/Debug/NpCommon.pdb
SupervisorIfSim/bin/Debug/SupervisorIfSim.exe
SupervisorIfSim/bin/Debug/SupervisorIfSim.exe.config
SupervisorIfSim/bin/Debug/SupervisorIfSim.pdb
SupervisorIfSim/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SupervisorIfSim/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.AssemblyReference.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.CopyComplete
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.CoreCompileInputs.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.FileListAbsolute.txt
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.GenerateResource.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.csproj.SuggestedBindingRedirects.cache
SupervisorIfSim/obj/Debug/SupervisorIfSim.Dialogs.FrmEdit.resources
SupervisorIfSim/obj/Debug/SupervisorIfSim.exe
SupervisorIfSim/obj/Debug/SupervisorIfSim.FrmMain.resources
SupervisorIfSim/obj/Debug/SupervisorIfSim.pdb
SupervisorIfSim/obj/Debug/SupervisorIfSim.Properties.Resources.resources
OrderManager/bin/Debug/Log/OrderManager20220513.log
OrderManager/obj/Debug/NipponPaint.OrderManager.Dialogs.FrmOrderChangeStatusSelectItem.resources
.vs/NpToningSystem/project-colors.json
NpCommon/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/NpToningSystem/v16/.suo
.vs/NpToningSystem/v17/.futdcache.v1
MlControler/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MlControler/obj/Debug/net6.0/MlControler.AssemblyInfo.cs
MlControler/obj/Debug/net6.0/MlControler.AssemblyInfoInputs.cache
MlControler/obj/Debug/net6.0/MlControler.assets.cache
MlControler/obj/Debug/net6.0/MlControler.csproj.AssemblyReference.cache
MlControler/obj/Debug/net6.0/MlControler.GeneratedMSBuildEditorConfig.editorconfig
MlControler/obj/Debug/net6.0/MlControler.GlobalUsings.g.cs
MlControler/obj/MlControler.csproj.nuget.dgspec.json
MlControler/obj/MlControler.csproj.nuget.g.props
MlControler/obj/MlControler.csproj.nuget.g.targets
MlControler/obj/project.assets.json
MlControler/obj/project.nuget.cache
MlController/bin/Debug/MlController.dll
MlController/bin/Debug/MlController.pdb
MlController/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MlController/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MlController/obj/Debug/MlController.csproj.AssemblyReference.cache
MlController/obj/Debug/MlController.csproj.CoreCompileInputs.cache
MlController/obj/Debug/MlController.csproj.FileListAbsolute.txt
MlController/obj/Debug/MlController.dll
MlController/obj/Debug/MlController.pdb
MlController/bin/Debug/MLComponent.dll
MlController/bin/Debug/MLComponent.XmlSerializers.dll
MlController/obj/Debug/MlController.csproj.CopyComplete
MlController/obj/Debug/DesignTimeResolveAssemblyReferences.cache
OrderManager/bin/Debug/MLComponent.dll
OrderManager/bin/Debug/MLComponent.XmlSerializers.dll
OrderManager/bin/Debug/MlController.dll
OrderManager/bin/Debug/MlController.pdb
SupervisorIfSim/obj/Debug/NipponPaint.SupervisorIfSim.Properties.Resources.resources
SupervisorIfSim/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SupervisorPcInterface/bin/Debug/Log/SupervisorInterface20220519.log
SupervisorPcInterface/bin/Debug/NpCommon.dll
SupervisorPcInterface/bin/Debug/NpCommon.ini
SupervisorPcInterface/bin/Debug/NpCommon.pdb
SupervisorPcInterface/bin/Debug/SupervisorPcInterface.exe
SupervisorPcInterface/bin/Debug/SupervisorPcInterface.exe.config
SupervisorPcInterface/bin/Debug/SupervisorPcInterface.pdb
SupervisorPcInterface/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SupervisorPcInterface/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SupervisorPcInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SupervisorPcInterface/obj/Debug/NipponPaint.SupervisorPcInterface.Properties.Resources.resources
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.AssemblyReference.cache
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.CopyComplete
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.CoreCompileInputs.cache
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.FileListAbsolute.txt
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.csproj.GenerateResource.cache
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.exe
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.FrmMain.resources
SupervisorPcInterface/obj/Debug/SupervisorPcInterface.pdb
SupervisorPcInterface/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/NpToningSystem/FileContentIndex/1e599423-34ba-489a-bf68-7d177910de3c.vsidx
