USE [NP_MAIN]
GO
/****** Object:  Table [dbo].[Cans_deleted]    Script Date: 10/09/2021 09:11:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cans_deleted](
	[Cans_Id] [int] NOT NULL,
	[Order_id] [int] NULL,
	[Barcode] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Order_Number] [nvarchar](13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Can_Number] [int] NULL,
	[DB] [int] NULL,
	[Status] [bit] NULL,
	[Formula_Release] [int] NULL,
	[Test_Can] [bit] NULL,
	[Sample_Present] [bit] NULL,
	[White_Code] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[White_Weight] [float] NULL,
	[White_Dispensed] [float] NULL,
	[Colorant_1] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_1] [float] NULL,
	[Dispensed_1] [float] NULL,
	[Colorant_2] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_2] [float] NULL,
	[Dispensed_2] [float] NULL,
	[Colorant_3] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_3] [float] NULL,
	[Dispensed_3] [float] NULL,
	[Colorant_4] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_4] [float] NULL,
	[Dispensed_4] [float] NULL,
	[Colorant_5] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_5] [float] NULL,
	[Dispensed_5] [float] NULL,
	[Colorant_6] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_6] [float] NULL,
	[Dispensed_6] [float] NULL,
	[Colorant_7] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_7] [float] NULL,
	[Dispensed_7] [float] NULL,
	[Colorant_8] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_8] [float] NULL,
	[Dispensed_8] [float] NULL,
	[Colorant_9] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_9] [float] NULL,
	[Dispensed_9] [float] NULL,
	[Colorant_10] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_10] [float] NULL,
	[Dispensed_10] [float] NULL,
	[Colorant_11] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_11] [float] NULL,
	[Dispensed_11] [float] NULL,
	[Colorant_12] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_12] [float] NULL,
	[Dispensed_12] [float] NULL,
	[Colorant_13] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_13] [float] NULL,
	[Dispensed_13] [float] NULL,
	[Colorant_14] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_14] [float] NULL,
	[Dispensed_14] [float] NULL,
	[Colorant_15] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_15] [float] NULL,
	[Dispensed_15] [float] NULL,
	[Colorant_16] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_16] [float] NULL,
	[Dispensed_16] [float] NULL,
	[Colorant_17] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_17] [float] NULL,
	[Dispensed_17] [float] NULL,
	[Colorant_18] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_18] [float] NULL,
	[Dispensed_18] [float] NULL,
	[Colorant_19] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_19] [float] NULL,
	[Dispensed_19] [float] NULL,
	[Total_Weight] [float] NULL,
	[Overfilling] [float] NULL,
	[Prefill_Amount] [int] NULL,
	[IN_Weight] [int] NULL,
	[OUT_Weight] [int] NULL,
	[Target_Weight] [int] NULL,
	[Errors_1] [int] NULL,
	[Errors_2] [int] NULL,
	[Errors_3] [int] NULL,
	[Error_Mask_1] [int] NULL,
	[Error_Mask_2] [int] NULL,
	[Error_Mask_3] [int] NULL
) ON [PRIMARY]
