USE [NP_MAIN]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/09/2021 09:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_Number] [nvarchar](13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Plant_ID] [int] NULL,
	[Color_Name] [nvarchar](96) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Paint_Name] [nvarchar](96) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Product_Code] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Number_of_cans] [int] NULL,
	[Status] [int] NULL,
	[Revision] [int] NULL,
	[Formula_Release] [int] NULL,
	[Production_Date] [datetime] NULL,
	[Delivery_Date] [datetime] NULL,
	[Extimated_Date] [datetime] NULL,
	[Input_Can] [bit] NULL,
	[White_Code] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[White_Weight] [float] NULL,
	[Colorant_1] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_1] [float] NULL,
	[Colorant_2] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_2] [float] NULL,
	[Colorant_3] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_3] [float] NULL,
	[Colorant_4] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_4] [float] NULL,
	[Colorant_5] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_5] [float] NULL,
	[Colorant_6] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_6] [float] NULL,
	[Colorant_7] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_7] [float] NULL,
	[Colorant_8] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_8] [float] NULL,
	[Colorant_9] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_9] [float] NULL,
	[Colorant_10] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_10] [float] NULL,
	[Colorant_11] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_11] [float] NULL,
	[Colorant_12] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_12] [float] NULL,
	[Colorant_13] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_13] [float] NULL,
	[Colorant_14] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_14] [float] NULL,
	[Colorant_15] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_15] [float] NULL,
	[Colorant_16] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_16] [float] NULL,
	[Colorant_17] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_17] [float] NULL,
	[Colorant_18] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_18] [float] NULL,
	[Colorant_19] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight_19] [float] NULL,
	[Total_Weight] [float] NULL,
	[Overfilling] [float] NULL,
	[Prefill_Amount] [int] NULL,
	[P_Weight_Tolerance] [float] NULL,
	[N_Weight_Tolerance] [float] NULL,
	[Quality_Sample] [int] NULL,
	[Can_Type] [int] NULL,
	[Can_Description] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Can_Weight] [int] NULL,
	[Can_Nominal] [int] NULL,
	[Can_Available] [int] NULL,
	[Cap_Type] [int] NULL,
	[Cap_Description] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Cap_Weight] [int] NULL,
	[Hole_Size] [int] NULL,
	[Capping_Machine] [int] NULL,
	[Mixing_Time] [int] NULL,
	[Mixing_Speed] [int] NULL,
	[Shipping_Labels] [int] NULL,
	[Product_Labels] [int] NULL,
	[Add_On_Labels] [int] NULL,
	[HG_HG_ID] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Data_Number] [nvarchar](9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Line_Number] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Additional_No1] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Additional_No2] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_SS_Code] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Delivery_Date] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Product_No] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Product_Name] [nvarchar](96) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Volume_Code] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Order_Cans] [nvarchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Color_Sample] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Sample_Back] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Tinting_Direction] [nvarchar](16) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Note] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Weight] [float] NULL,
	[HG_Water_Borne] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Order_Invoice_ID] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Cancel] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Comments] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Sum_up_Key] [nvarchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Customer_Code] [nvarchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Customer_Name] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Customer_Name_Kanji] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Sales_Branch_Name] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Delivery_Point_Code] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Delivery_Area_Code] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Delivery_TelNo] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Delivery_Name_Kanji] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Delivery_Address_Kanji] [nvarchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Order_Input_Date] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Order_Input_Time] [nvarchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Tinting_Price_Rank] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_HG_Delivery_Code] [int] NULL,
	[HG_HG_Delivery_Kanji] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_SS_Delivery_Code] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_SS_Delivery_Kanji] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Paint_Kind_Code] [nvarchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Theme_Code] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Sample_Plates] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_SS_Shipping_Date] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Sales_in_Charge] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Extimated_Shipping_Dat] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_NPC_Article_Number] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_NPC_Volume_Code] [nvarchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_HG_Shipping_ID] [nvarchar](16) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_ASK_ID] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Truck_Company_Name] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Unified_Article_Number] [nvarchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Gloss_Addition] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Supplemental_Addition] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_RF_Display_Colors] [int] NULL,
	[HG_Gloss_Dictation] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Supplement_Dictation] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Modified_Comments] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Delivery_Order_Number] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Label_Type] [int] NULL,
	[Label_Description] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Notified] [bit] NULL,
	[RGB] [int] NULL,
	[Operator_Code] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Operator_Name] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sort_Order] [int] NULL,
	[CCM_color_Name] [nvarchar](98) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SplitterColorName] [int] NOT NULL CONSTRAINT [DF_Orders_SplitterColorName]  DEFAULT ((28)),
	[HG_Color_Name] [nvarchar](98) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Product_NameOnly] [nvarchar](98) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Urgent] [bit] NOT NULL CONSTRAINT [DF_Orders_Urgent]  DEFAULT ((0)),
	[SamplePlateLabel] [bit] NOT NULL CONSTRAINT [DF_Orders_SamplePlateLabel]  DEFAULT ((0)),
	[ShippingLabel] [bit] NOT NULL CONSTRAINT [DF_Orders_ShippingLabel]  DEFAULT ((0)),
	[InstrucionalSheet] [bit] NOT NULL CONSTRAINT [DF_Orders_InstrucionalSheet]  DEFAULT ((0)),
	[Tinted_Color] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Index_Number] [real] NULL,
	[Line_Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Course_Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HG_Reserve] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Plants] FOREIGN KEY([Plant_ID])
REFERENCES [dbo].[Plants] ([Plant_ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Plants]