USE [NP_MAIN]
GO
/****** Object:  Table [dbo].[Raw_Data]    Script Date: 10/09/2021 09:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raw_Data](
	[RAW_DATA_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLANT_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[PRODUCT_NAME] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRODUCT_DESCRIPTION] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SPECIFIC_GRAVITY] [int] NULL,
	[RGB] [int] NULL,
 CONSTRAINT [PK_Raw_Data] PRIMARY KEY CLUSTERED 
(
	[RAW_DATA_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Raw_Data]  WITH CHECK ADD  CONSTRAINT [FK_Raw_Data_Plants] FOREIGN KEY([PLANT_ID])
REFERENCES [dbo].[Plants] ([Plant_ID])
GO
ALTER TABLE [dbo].[Raw_Data] CHECK CONSTRAINT [FK_Raw_Data_Plants]