USE [IOSSUP_RF1]
GO
/****** Object:  Table [dbo].[Line_Parameters]    Script Date: 10/09/2021 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Line_Parameters](
	[Parameter_1] [int] NULL,
	[Parameter_2] [int] NULL,
	[Parameter_3] [int] NULL,
	[Parameter_4] [int] NULL,
	[Parameter_5] [int] NULL,
	[Parameter_6] [int] NULL,
	[Parameter_7] [int] NULL,
	[Parameter_8] [int] NULL,
	[Parameter_9] [int] NULL,
	[Parameter_10] [int] NULL,
	[Parameter_11] [int] NULL,
	[Parameter_12] [int] NULL,
	[Parameter_13] [int] NULL,
	[Parameter_14] [int] NULL,
	[Parameter_15] [int] NULL,
	[Parameter_16] [int] NULL,
	[Parameter_17] [int] NULL,
	[Parameter_18] [int] NULL,
	[Parameter_19] [int] NULL,
	[Parameter_20] [int] NULL,
	[Parameter_21] [int] NULL,
	[Parameter_22] [int] NULL,
	[Parameter_23] [int] NULL,
	[Parameter_24] [int] NULL,
	[Parameter_25] [int] NULL,
	[Parameter_26] [int] NULL,
	[Parameter_27] [int] NULL,
	[Parameter_28] [int] NULL,
	[Parameter_29] [int] NULL,
	[Parameter_30] [int] NULL,
	[Parameter_31] [int] NULL,
	[Parameter_32] [int] NULL,
	[Parameter_33] [int] NULL,
	[Parameter_34] [int] NULL,
	[Parameter_35] [int] NULL,
	[Parameter_36] [int] NULL,
	[Parameter_37] [int] NULL,
	[Parameter_38] [int] NULL,
	[Parameter_39] [int] NULL,
	[Parameter_40] [int] NULL,
	[Parameter_41] [int] NULL,
	[Parameter_42] [int] NULL,
	[Parameter_43] [int] NULL,
	[Parameter_44] [int] NULL,
	[Parameter_45] [int] NULL,
	[Parameter_46] [int] NULL,
	[Parameter_47] [int] NULL,
	[Parameter_48] [int] NULL,
	[Parameter_49] [int] NULL,
	[Parameter_50] [int] NULL,
	[Parameter_51] [int] NULL,
	[Parameter_52] [int] NULL,
	[Parameter_53] [int] NULL,
	[Parameter_54] [int] NULL,
	[Parameter_55] [int] NULL,
	[Parameter_56] [int] NULL,
	[Parameter_57] [int] NULL,
	[Parameter_58] [int] NULL,
	[Parameter_59] [int] NULL,
	[Parameter_60] [int] NULL,
	[Parameter_61] [int] NULL,
	[Parameter_62] [int] NULL,
	[Parameter_63] [int] NULL,
	[Parameter_64] [int] NULL,
	[Parameter_65] [int] NULL,
	[Parameter_66] [int] NULL,
	[Parameter_67] [int] NULL,
	[Parameter_68] [int] NULL,
	[Parameter_69] [int] NULL,
	[Parameter_70] [int] NULL,
	[Parameter_71] [int] NULL,
	[Parameter_72] [int] NULL,
	[Parameter_73] [int] NULL,
	[Parameter_74] [int] NULL,
	[Parameter_75] [int] NULL,
	[Parameter_76] [int] NULL,
	[Parameter_77] [int] NULL,
	[Parameter_78] [int] NULL,
	[Parameter_79] [int] NULL,
	[Parameter_80] [int] NULL,
	[Parameter_81] [int] NULL,
	[Parameter_82] [int] NULL,
	[Parameter_83] [int] NULL,
	[Parameter_84] [int] NULL,
	[Parameter_85] [int] NULL,
	[Parameter_86] [int] NULL,
	[Parameter_87] [int] NULL,
	[Parameter_88] [int] NULL,
	[Parameter_89] [int] NULL,
	[Parameter_90] [int] NULL,
	[Parameter_91] [int] NULL,
	[Parameter_92] [int] NULL,
	[Parameter_93] [int] NULL,
	[Parameter_94] [int] NULL,
	[Parameter_95] [int] NULL,
	[Parameter_96] [int] NULL,
	[Parameter_97] [int] NULL,
	[Parameter_98] [int] NULL,
	[Parameter_99] [int] NULL,
	[Parameter_100] [int] NULL,
	[Parameter_101] [int] NULL,
	[Parameter_102] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Line_Parameters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
