USE [IOSSUP_RF1]
GO
/****** Object:  Table [dbo].[Pump_Motors]    Script Date: 10/09/2021 08:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pump_Motors](
	[ID] [smallint] NOT NULL,
	[SPEED_UNBLOCK] [smallint] NULL,
	[RECIRCULATION_SPEED] [smallint] NULL,
	[RECIRCULATION_DURATION] [smallint] NULL,
	[RECIRCULATION_PERIOD] [smallint] NULL,
	[PUMP_OFF_DELAY] [smallint] NULL,
	[PUMP_UNBLOCK_DURATION] [smallint] NULL,
	[PUMP_UNBLOCK_TIMEOUT] [smallint] NULL,
 CONSTRAINT [PK_Pump_Motors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
