USE [IOSSUP_RF1]
GO
/****** Object:  Table [dbo].[Pushings]    Script Date: 10/09/2021 08:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pushings](
	[ID] [int] NOT NULL,
	[PARAMETER_1] [int] NULL,
	[PARAMETER_2] [int] NULL,
	[PARAMETER_3] [int] NULL,
	[PARAMETER_4] [int] NULL,
	[PARAMETER_5] [int] NULL,
	[PARAMETER_6] [int] NULL,
	[PARAMETER_7] [int] NULL,
	[PARAMETER_8] [int] NULL,
	[PARAMETER_9] [int] NULL,
	[PARAMETER_10] [int] NULL,
	[PARAMETER_11] [int] NULL,
	[PARAMETER_12] [int] NULL,
	[PARAMETER_13] [int] NULL,
	[PARAMETER_14] [int] NULL,
	[PARAMETER_15] [int] NULL,
	[PARAMETER_16] [int] NULL,
 CONSTRAINT [PK_Pushings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
