USE [IOSSUP_RF1]
GO
/****** Object:  Table [dbo].[Raw]    Script Date: 10/09/2021 08:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raw](
	[PRODUCT_ID] [smallint] NOT NULL,
	[PRODUCT_NAME] [nvarchar](16) COLLATE Latin1_General_CI_AS NULL,
	[PRODUCT_DESCRIPTION] [nvarchar](50) COLLATE Latin1_General_CI_AS NULL,
	[SPECIFIC_GRAVITY] [int] NULL,
 CONSTRAINT [PK_Raw] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
